body {background-color: #f2b1b7;}



.title {
  background-color:  #f2b1b7;
  margin-bottom: 30px;
  padding-left: 40px;
}

 h1 {
   font-size: 5vw;
   display: block;
   background-color:##f2b1b7;
   padding: 5px;
   text-align: center;
  
}

