body {background-color: rgb(231, 185, 185);}


.title {
  background-color: seashell;
  margin-bottom: 30px;
  padding-left: 40px;
}

 h1 {
   font-size: 5vw;
   display: block;
   background-color: seashell;
   padding: 5px;
   text-align: center;
  
}

